/* THE 12 GRID TEMPLATE CSS SETTINGS DECLARED HERE */
*{box-sizing: border-box;}

body{
    margin: 0;
    background-color: #000;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
    float: left;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
/* THE ORIGINAL STYLING STARTS FROM HERE */

/* THE SIDE NAVIGATION BAR */
a{
    text-decoration: none;
    color: #fff;
}
#fixedNav nav{
    position: fixed;
    height: 100%;
    background-color: #2b2b42;
    z-index: 20;
    overflow: hidden;
    animation-name: navBarFade;
    animation-duration: .5s;
}
@keyframes navBarFade{
    from{width: 0}
    to{width: 63px}
}
#fixedNav nav:hover li{
    animation-name: navBarAnim;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}
@keyframes navBarAnim{
    0{transform: rotateY(0)translateY(0);}
    25%{transform: rotateY(90deg)translateY(-5px);}
    50%{transform: rotateY(180deg)translateY(0);}
    75%{transform: rotateY(90deg)translateY(-3px);}
    100%{transform: rotateY(0)translateY(0);}
}
#fixedNav ul,#overlayCont ul{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 63px;
}
#fixedNav ul i,#overlayCont ul i{
    display: block;
    font-size: 30px;
    padding: 3px 0;
}
#fixedNav ul a,#overlayCont ul a{
    color: #fff;
    padding: 15px 5px;
    text-align: center;
    font-family: "Varela Round";
    transition: background-color .1s;
    cursor: pointer;
    display: block;
    font-size: 10px;
}
#fixedNav ul a:nth-child(1){
    text-shadow: 0 0 150px #fff;
    animation-name: proBtn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes proBtn{
    0%{text-shadow: 0 0 300px #fff;}
    50%{text-shadow: 0 0 100px #fff;}
    100%{text-shadow: 0 0 300px #fff;}
}
#fixedNav ul a:nth-child(1),#overlayCont ul a:nth-child(1){
    background-color:#c600b3;
}
#fixedNav ul a:hover,#overlayCont ul a:hover{
    background-color: #00bbff !important;
    color: #000;
}

/* THE SIDE PROFILE WINDOW */

#sideProfile{
    width: 0;
    margin-left: 63px;
    position: fixed;
    height: 100%;
    padding:15px 0;
    background-color: #232323;
    box-shadow: 0 0 10px #000;
    z-index: 10;
    overflow: hidden;
    transition:width .3s;
    transition-timing-function: ease;
    /*GENERAL FONT SETS*/
    color: #fff;
    font-family: raleway;
}
.profileOverWrap{
    margin: auto;
    width: 120px;
}
.profileOverCont{
    position: absolute;
    width: 120px;
    margin-top: -20px;
    height: 120px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    overflow: hidden;
    display: flex;
    transition: .3s;
    opacity: 0;
}
.profileOverCont button{
    width: 70px;
    height: 20px;
    margin: auto;
    padding: 0;
    transition: .3s;
    line-height: 0;
    border: 2px solid #fff;
    background-color: inherit;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.profileOverCont button a{
    color: #fff !important;
}
.profileOverCont button:hover{
    background-color: #0061ff;
}
.profileOverWrap:hover .profileOverCont{
    margin-top: 0;
    opacity: 1;
}
#sideProfile img{
    width: 120px;
    border: 2px solid #fff;
    border-radius: 100%;
    box-sizing: content-box;
    display: block;
    transform: translate(-2px,-2px);
}
#borFade{
    border: 0 solid #fff;
    animation-name: borderAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    box-sizing: content-box;
    position: absolute;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    top: 21px;
    left: 60px;
}
@keyframes borderAnim{
    0%{border-width: 0;transform: translate(0,0);opacity: 0}
    50%{border-width: 15px;transform: translate(-16px,-14px);opacity: .2}
    100%{border-width: 15px;transform: translate(-16px,-14px);opacity: 0}
}
#sideProfile h1{
    font-weight: 500;
    margin: 20px 0 10px;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
}
#sideProfile h2{
    font-size: 14px;
    color: #cccccc;
    margin:0;
    text-align: center;
    white-space: nowrap;
}
#sideProfile h2 i{
    color: #0087ff;
    position: absolute;
    transform: translate(-22px,1px)
}
#sideProfile h1 i{
    font-size: 10px;
    transform: translate(-14px,6px);
    color: #08ff00;
    position: absolute;
}
#sideProfile h1:hover i{
    color: #f0ffef;
}
#sideProfileAbout{
    margin-top: 50px;
    white-space: nowrap;
}
#sideProfileAbout p{
    font-size: 10px;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #6d6d6d;
}
#sideProfileAbout span{
    color: #9bc1ff
}
#sideProfile a{
    font-size: 12px;
    color: #ffffa3;
}


/*THE MAIN */

#main{
    margin-left: 63px;
}
.backSlideShow{
    display: flex;
    height: 200px;
    filter: brightness(.9);
    overflow: hidden;
}
.backSlideShow div{
    width: 250px;
}
.backSlideShow img{
    width: 250px;
    display: block;
    animation-name: slideShow;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-right: 15px solid #fff;
    border-left: 15px solid #fff;
}
@keyframes slideShow{
    0%{transform: translateX(0)}
    100%{transform: translateX(-1000%)}
}
#profileIcon{
    width: 180px;
    height: 180px;
    margin-right: 20px;
    float: right;
    transform: translateY(0);
    margin-top: -100px;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 3px 10px #212121;
}
#profileIcon img{
    width: 180px;
    height: 180px;
    display: block;
    transition: .4s;
}
.proMainOver{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.8);
    transition: .3s;
    display: flex;
    overflow: hidden;
}
.proMainOver p{
    margin: auto;
    line-height: 0;
    font-family: "varela round";
    color: #fff;
}
#profileIcon:hover .proMainOver{
    height: 25%;
}
#iconHead{
    float: right;
    margin: 25px 20px 0 0;
    font-family: raleway;
}
#iconHead h1{
    margin: 0;
    color: #fff;
    text-align: right;
    font-weight: 500;
    font-size: 23px;
}
#iconHead h2{
    margin: 5px 0 0;
    text-align: right;
    color: #dddddd;
    font-weight: 100;
    font-size: 20px;
}
.contNav{
    margin-top: 32px;
    border-bottom: 1px solid #232323;
    padding-left: 20px
}
.contNav ul{
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
}
.contNav p{
    display: inline-block;
    color: #fff;
    font-family: "raleway";
    padding: 5px 0;
    font-weight: 300;
    font-size: 13px
}
.contNav li{
    display: inline-block;
    padding: 5px 15px;
    font-family: "raleway";
    border: 1px solid #fff;
    color: #fff;
    font-weight:300;
    transition: .1s;
    cursor: pointer;
    margin: 0 2px 8px;
}
.contNav li:hover{
    background-color: #b7d2ff;
    color: #000;
}
#catMain{
    padding:0 20px;
}




/* THE FOOTER */
footer{
    margin-top: 100px;
    margin-left: 63px;
    background-color: #000;
}
.copyR h1{
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: "varela round", sans-serif;
    padding: 20px 0;
}


/* THE OVERLAY */
#overlayBack{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 100;
    height: 0;
    overflow: hidden;
    transition: .5s;
}
#overlayCont{
    overflow: hidden;
    display: none;
}
#overlayClose{
    color: #fff;
    position: fixed;
    top: 3vh;
    right: 3vh;
    z-index: 200;
    font-size: 8vh;
    display: none;
    cursor: pointer;
}
#overlayOpen{
    position: fixed;
    top:0;
    font-size: 40px;
    z-index: 200;
    color: #fff;
    margin: 15px;
    text-shadow: 0 0 2px #000;
    display: none;
    cursor: pointer;
}
#overlayCont{
    position: fixed;
    z-index: 200;
    top: 15%;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}
#overlayCont ul a{
    padding: 2.5vh;
    font-size: 2vh
}
#overlayCont ul i{
    font-size: 5vh
}



/* MEDIA QUERIES */
@media screen and (max-height:450px), (max-width:480px){
    #fixedNav nav{
        display: none;
    }
    #overlayOpen{
        display: block;
    }
    #main{
        margin-left: 0;
    }
    footer{
        margin-left: 0;
    }
    #fixedNav ul,#overlayCont ul{
        width: 100%;
    }
}